
 <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
    <div class="form-group" id="fos_user_registration_form">

    <div class="form-group">
         
       
     
      {{ form_label(form.nom , "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }} 
      <div class="col-sm-4">
      {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
      <span style="color: red">
        
        {{ form_errors(form.nom) }}
      </span>
    </div>
     </div>
     <div class="form-group">
         
       {{ form_label(form.prenom , "PRENOM", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
       <div class="col-sm-4"> 
       {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prenom'}}) }}
       <span style="color: red">
         
        {{ form_errors(form.prenom) }}
       </span>
    </div>
     </div>
     <div class="form-group">
         

        {{ form_label(form.fonction , "Fonction", {'label_attr': {'class': 'col-sm-3 control-label'}}) }} 
        <div class="col-sm-4">
        {{ form_widget(form.fonction, { 'attr': {'class': 'form-control', 'placeholder': 'Fonction'} }) }}
        <span style="color: red">
          
        {{ form_errors(form.fonction) }}
        </span>
        </div>
    
     </div>
     <div class="form-group">
    
       {{ form_label(form.email , "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }} 
       <div class="col-sm-4">
           
       {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}

        
        <span style="color: red">
    
        {{ form_errors(form.email) }}
  </span>
  </div>  
    
</div>
            
   
<div class="form-group">
  {{ form_label(form.username , "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
  <div class="col-sm-4">
    
  {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Login'} }) }}
  <span style="color: red">
    
        {{ form_errors(form.username) }}
  </span>
  </div>  
    
</div>


<div class="form-group">
    
       
        {{ form_label(form.plainPassword.first , "Mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
<div class="col-sm-4">
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'pwd' } }) }}
        <span style="color: red">
          
        {{ form_errors(form.plainPassword.first) }}
        </span>
</div>
</div>
<div class="form-group">
    

        {{ form_label(form.plainPassword.second , "Confirmation du mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmation pwd' } }) }}
        <span style="color: red">
          
        {{ form_errors(form.plainPassword.second) }}
        </span>
        </div>
</div>


     
               <div class="form-group">
    

        {{ form_label(form.roles , "Roles", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
        {{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
        <span style="color: red">
          
        {{ form_errors(form.roles) }}
        </span>
        </div>
</div> 
     
       
        
    
    
        
        {{ form_rest(form) }}
    

    </div>
    <div>
    <center>
      
        <input class="btn  btn-primary" type="submit" value="{{ 'Enregistrer' }}">
    </center>
    </div>
      </div>
    </div>
</form>
    
 
    