{%extends "::baseAdmin.html.twig"%}
{% block title %}Bienvenue{% endblock %}
{% block body %}
       
            {{render(controller('FontPageBundle:Registration:register'))}}
        
{% endblock %}
        


