{%extends "::baseAdmin.html.twig"%}
{% block title %}Bienvenue{% endblock %}

        {% block body %}
        <h1>
                {% if is_granted("ROLE_ADMIN") %}
                        
                       {#{{  app.user.username }}#}
                       Administrateur
                        
                {% endif %}
                {% for  messages in app.session.flashBag.get('login') %}
                         
                                <div class="flash">
                                    {{ messages }}
                                </div>
                            
                        {% endfor %}
         </h1>
         {% if app.session.flashBag.has('reussi') %}
        <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for msg in app.session.flashBag.get('reussi') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <h4> Back-end de l'application <b><i> Orange-Xaïma </i></b> qui permettra à l'administrateur d'<a href="{{path('font_page_creer_user')}}"> ajouter un nouvel utilisateur </a> <br> ou bien  d'avoir une vue globale sur tous <a href="{{path('font_page_see_users')}}"> les
            utilisateurs enregistrés </a> dans la base de donnée. </h4>
        </div>
    </div>
           
        {% endblock %}
