{%extends "::baseAdmin.html.twig"%}
{% block title %}Bienvenue{% endblock %}
{% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


        <script src="{{asset('/datatables/moment-with-locales.min.js')}}"></script>
       
        <script src="{{asset('/datatables/daterangepicker.min.js')}}"></script>
        <script src="{{asset('/datatables/datatables.min.js')}}"></script>
        <script src="{{asset('/datatables/bootstrap-editable.min.js')}}"></script>
        <script src="{{asset('/datatables/featherlight.min.js')}}"></script>
      
        <script src="{{asset('/datatables/bootstrap-slider.min.js')}}"></script>
        <script src="{{asset('/datatables/select2.full.min.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/font-awesome.min.css ')}}"/>
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/daterangepicker.min.css ')}}">
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/datatables.min.css ')}}">
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/bootstrap-editable.css ')}}"/>
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/featherlight.min.css ')}}">
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/bootstrap-slider.min.css ')}}">
    <link rel="stylesheet" href="{{asset('/datatables/cssDatatable/select2.min.css ')}}" />
    {% endblock %}
{% block body %}
    {{ datatable_render(datatable) }}
{% endblock %}