<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block javascript %}
            
            <script src="{{ asset('/jquery/jquery.min.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('/bootstrap/js/bootstrap.min.js')}}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{asset('/metisMenu/metisMenu.min.js')}}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{asset('/dist/js/sb-admin-2.js')}}"></script>
            <!--[if lt IE 9]>
                <script src="{{asset('/js/html5shiv.min.js')}}"></script>
                <script src="{{asset('/js/respond.min.js')}}"></script>
                <script src="{{asset('/js/html5shiv-printshiv.js')}}"></script>
  
            <![endif]-->
        {% endblock %}
        {% block javascripts %}
       
        {% endblock %}


        {% block stylesheet %}
            <link  href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{ asset('metisMenu/metisMenu.min.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('dist/css/sb-admin-2.css')}}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{ asset('dist/css/Cgraphique.css')}}" rel="stylesheet" type="text/css">
            <link href="{{ asset('polices/font.css')}}" rel="stylesheet" type="text/css">
       
        {% endblock %}
        {% block stylesheets %}
  
        {% endblock %}
        

    </head>
    <body>
        <nav id="topMenu" class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('font_page_admin') }}"><span style="color: orange">Orange-Xaïma</span></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                
                        <li><a href="{{path('font_page_dashboard') }} " ><span style="color: orange" ><i class="fa fa-user fa-fw"></i>Front End</span> </a></li>
                

                <li class="dropdown">
                    <a class=" -toggle" data-toggle="dropdown" href="#">
                        <span style="color: orange"><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>Votre Profil</a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>Se Deconnecter </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

        </nav>

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-sm-3">
                    <nav id="leftMenu" class="navbar sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="#"><span style="color: black"><i class="fa fa-question-circle-o fa-fw"></i>Utilisateur</span><i class="fa arrow"></i></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{{path('font_page_creer_user')}}"><span style="color: black">Ajouter utilisateur</span></a>
                                        </li>
                                        <li>
                                            <a href="{{path('font_page_see_users')}}"><span style="color: black">Infos Utilisateurs</span></a>
                                        </li>
                                    </ul>


                                    <!-- /.nav-second-level -->
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
                <div class="col-lg-9 col-sm-9" id="corps">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>

        
    </body>
</html>
