<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
     
          
   
{% block stylesheets %}
        <script src="{{ asset('/jquery/jquery.min.js')}}"></script>
        <link  href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('metisMenu/metisMenu.min.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('dist/css/sb-admin-2.css')}}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('dist/css/Cgraphique.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('polices/font.css')}}" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
      <script src="{{asset('/js/html5shiv.min.js')}}"></script>
      <script src="{{asset('/js/respond.min.js')}}"></script>
      <script src="{{asset('/js/html5shiv-printshiv.js')}}"></script>
      
    <![endif]-->
{% endblock %}

    </head>
    <body>
        <nav id="topMenu" class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('font_page_dashboard')}}"><span style="color: orange" >Orange-Xaïma</span></a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    {%if is_granted('ROLE_ADMIN')%}
                        <li><a href="{{path('font_page_admin') }} " ><span style="color: orange" ><i class="fa fa-user fa-fw"></i>Back End</span> </a></li>
                        {% endif %}
                   
                    
                    <li class="dropdown">
                        <a class=" -toggle" data-toggle="dropdown" href="#">
                            <span style="color: orange"><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>Votre Profil</a>
                            </li>
                            
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>Se Deconnecter </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>

       </nav>

        <div class="container-fluid">
            <div class="row">
                
               <div class="col-lg-3 col-sm-3">
                    <div class="navbar sidebar sidebar-nav navbar-collapse" id="leftMenu">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                              <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Recherche...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                               </div>
                            <!-- /input-group -->
                            </li>
                            <li>
                            
                            <a href="#"><span style="color: black"><i class="fa fa-archive fa-fw"></i>PROJETS</span> <i class="fa arrow"></i></a>
                            <ul class="nav nav-second-level">
                                {%if is_granted('ROLE_CHEF_PROJET')%}
                                <li>
                                  <a href="{{path('font_page_creer_projet')}}"><span style="color: black">Créer un projet</span></a>
                                </li>
                                {%endif%}
                                <li>
                                    <a href="{{path('font_page_liste_projet')}}"><span style="color: black">Listes des projets</span></a>
                                </li>
                                
                            </ul>
                           
                        </li>
                        
                        <li>
                            <a href="#"><span style="color: black"><i class="fa fa-tasks fa-fw"></i>IMPUTATIONS</span><i class="fa arrow"></i></a>
                            <ul class="nav nav-second-level">
                                 <li>
                                    <a href="{{path('font_page_imputer')}}"><span style="color: black">Effectuer votre imputation</span></a>
                                </li>
                                 <li>
                                    <a href="{{path('font_page_liste_imputation')}}"><span style="color: black">Voir Les Précédentes Imputations</span></a>
                                </li>
                                
                            </ul>
                        
                           
                        </li>
                        
                        <li>
                            <a href="#"><span style="color: black"><i class="fa fa-question-circle-o fa-fw"></i>A PROPOS</span><i class="fa arrow"></i></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><span style="color: black">Aide</span></a>
                                </li>
                                <li>
                                    <a href="#"><span style="color: black">Support technique</span></a>
                                </li>
                            </ul>

                            <!-- /.nav-second-level -->
                        </li>
                                               
                        </ul>
                    </div>
                
                   
               </div>
                <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4" id="corps">
                    {% block body %}
                    {% endblock %}
        </div>
    </div>
       
</div>

       
    {% block javascripts %}


            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('/bootstrap/js/bootstrap.min.js')}}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{asset('/metisMenu/metisMenu.min.js')}}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{asset('/dist/js/sb-admin-2.js')}}"></script>
        {% endblock %}
        {% block Javascript2 %}
        {% endblock %}
    </body>
</html>
