<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
     
          
   
    {% block stylesheets %}
    
        <link  href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('metisMenu/metisMenu.min.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('dist/css/sb-admin-2.css')}}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('dist/css/Cgraphique.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('polices/font.css')}}" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
      <script src="{{asset('/js/html5shiv.min.js')}}"></script>
      <script src="{{asset('/js/respond.min.js')}}"></script>
      <script src="{{asset('/js/html5shiv-printshiv.js')}}"></script>
      
    <![endif]-->
{% endblock %}
    
    </head>
    <body style="background-color: white;">
      
        {{render(controller('FOSUserBundle:Security:login'))}}
            
             
 {% block javascripts %}
       
  <script src="{{ asset('/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{asset('/metisMenu/metisMenu.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{asset('/dist/js/sb-admin-2.js')}}"></script>
        {% endblock %}
    </body>
</html>
