{%extends "::base.html.twig"%}

{% block body %}


<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.projet, "Nom du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.projet) }}

    <div class="col-sm-5">
      {# Génération de l'input. #}
      {{ form_widget(form.projet, {'attr': {'class': 'form-control '}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.duree, "Durée", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.duree) }}
    <div class="col-sm-2">
      {{ form_widget(form.duree, {'attr': {'class': 'form-control '}}) }}
    </div>
  </div>

  
  {{ form_rest(form) }}



	
  <input type="submit" name="" value="Valider" class="btn btn-primary">
  

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

{% endblock %}