{%extends "::base.html.twig"%}
{% block title %}Bienvenue{% endblock %}

{% block body %}
	
{% if app.session.flashBag.has('success') %}
	<div class="alert alert-danger fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{% for msg in app.session.flashBag.get('success') %}
			{{ msg }}
		{% endfor %}
	</div>
{% endif %}
	
<div class="container well">

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_errors(form) }}

	<form method="post" {{ form_enctype(form) }}>
		
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.nom) }}

			<div class="col-sm-3">
				{# Génération de l'input. #}
				{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.domaineApplication, "Type de projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.domaineApplication) }}

			<div class="col-sm-3">
				{# Génération de l'input. #}
				{{ form_widget(form.domaineApplication, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.dateDebut, "Date de début", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.dateDebut) }}

			<div class="col-sm-5 col-lg-5">
				{# Génération de l'input. #}
				{{ form_widget(form.dateDebut, {'attr': {'class': 'form-control','id':'projet_dateDebut'}}) }}
			</div>
		</div>
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.dateFin, "Date de Fin    ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.dateFin) }}

			<div class="col-sm-5 col-lg-5">
				{# Génération de l'input. #}
				{{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.description) }}

			<div class="col-sm-5">
				{# Génération de l'input. #}
				{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
		<label class="col-sm-3 control-label">
			Membres du projet 
		</label>
	   <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Cliquer ici pour ajouter les membres</button>
				<div class="modal fade bd-example-modal-lg row" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="panel panel-default">
								
								<div class="panel-heading" >
									<big>Listes d'Agents</big>
								</div>
								
								<div class="panel-body">
									<table class="table table-responsive table-bordered  table-hover">
										<thead>
											<tr>
												<th></th>
												<th >Prenom</th>
												<th >Nom</th>
												<th >Fonction</th>
											</tr>
										</thead>
					
										<tbody>
											{% for user in users %}
											<tr>
												<td><input type="checkbox" name="checkbox[]" value="{{user.id}}"></td>
												<td>{{user.prenom}}</td>
												<td> {{user.nom}}</td>
												<td>{{user.fonction}}</td>
											</tr>
											{% else %}
											<tr>
												<td colspan="5">Aucun membre, veuillez demander à l'administrateur d'ajouter des membres </td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ form_rest(form) }}
				<div class="form-group">
					<center> <input type="submit" value="Valider" class="btn btn-primary"></center> 
				</div>
	</form>
</div>
{% endblock %} 