{%extends "::base.html.twig"%}
{% block title %}Projets{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading" >

            <center>{{projet[0].nom}}</center>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <h5>Listes des membres</h5>
                    {%if results%}
                        <table class="table table-responsive table-bordered  table-hover">
                            <th colspan="10">Nom </th><th>Prenom </th><th>Voir plus</th>
                            <tbody>
                                {%for result in results%}
                                    <tr> 
                                        <td colspan="10">{{result[1].prenom}} </td> 
                                        <td>{{result[1].nom}}</td>
                                        <td>  <a class="btn-primary" style="cursor:pointer" data-toggle="modal" data-target="#myModal{{result[1].id}}"><span class="glyphicon glyphicon-user"></span></a>

                                            <!-- Modal --> <div class="modal fade" id="myModal{{result[1].id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog"> 
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
                                                            <h4 class="modal-title" id="myModalLabel"> 
                                                                historique des imputaions de {{result[1].prenom}} {{result[1].nom}}
                                                            </h4>
                                                        </div>  
                                                        <div class="modal-body">
                                                            {% set total = 0 %}
                                                             
                                                            {%if result[0]%}
                                                               <table class="table table-responsive table-bordered  table-hover">
                                                               <tr>
                                                                   <th colspan="10">Date d'imputation </th>
                                                                   <th>Durée de travail en heure(s)
                                                               </tr>
                                                                {%for imput in result[0] %}
                                                                    <tr>
                                                                        <td colspan="10">{{imput.date|date('d-m-y H:i:s')|trans({}, 'messages')}} </td>
                                                                        <td>{{imput.duree}}</td>
                                                                    </tr>
                                                                
                                                                    {% set total =total+imput.duree  %}

                                                                {%endfor %}
                                                                </table>
                                                            {%endif%}
                                                            <h1>Total heures de travail:{{total}}</h1> <div> <div class="modal-footer"> 
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                        Fermer </button> 
                                                                </div>
                                                            </div>
                                                        </div> </div><!-- /.modal-content --> 
                                                </div><!-- /.modal -->
                                        </td>
                                    </tr>

                                {%endfor%}
                            </tbody>
                        </table>
                    {%else%}
                        <h2>pas de membres</h2>
                    {%endif%}
                </div>


                <div class="col-sm-4">
                    {% if projet[0].ferme==0%}
                        <br>
                        <br>


                        <div class="row">
                            <div class="col-sm-12">
                                <form method="Post" action="{{path('font_page_detail_proget',{'idPro': projet[0].id})}}">
                                    <div class="col-sm-12"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1">ajouter membre</button>

                                        <!-- Modal --> <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog"> 
                                                <div class="modal-content">
                                                    <div class="modal-header"> 
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> 
                                                            &times;
                                                        </button> 
                                                        <h4 class="modal-title" id="myModalLabel"> 
                                                        </h4> </div> <div class="modal-body"> 
                                                        <div class="panel panel-default">

                                                            <div class="panel-heading" >
                                                                <big>Listes d'Agents</big>
                                                            </div>

                                                            <div class="panel-body">

                                                                <table class="table table-responsive table-bordered  table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th >Prenom</th>
                                                                            <th >Nom</th>
                                                                            <th >Fonction</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        {% for user in users %}
                                                                            <tr>
                                                                                <td><input type="checkbox" name="checkbox[]" value="{{user.id}}"></td>
                                                                                <td>{{user.prenom}}</td>
                                                                                <td> {{user.nom}}</td>
                                                                                <td>{{user.fonction}}</td>
                                                                            </tr>
                                                                        {% else %}
                                                                            <tr>
                                                                                <td colspan="5">Aucun membre, veuillez demander à l'administrateur d'ajouter des membres </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div> <div class="modal-footer"> 
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                            Fermer </button>
                                                        <button type="submit" class="btn btn-primary"> Soumettre</button> 
                                                    </div> 
                                                </div><!-- /.modal-content --> 
                                            </div><!-- /.modal -->
                                        </div>
                                    </div>                                       
                                </form>
                            </div>

                        </div>
                        <br>



                        <div clas="row">

                            <div class="col-sm-12">
                                <a href="{{path('font_page_imputer')}}">  <button type="button" class="btn btn-primary btn-sm">Imputer </button></a>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div clas="row">
                            <div class="col-sm-12">
                                <form method="Post" action="{{path('font_page_clore_projet')}}">
                                    <input type="hidden" name="id" value="{{projet[0].id}}"/>
                                    <input type="button" data-toggle="modal" data-target="#myModalconfirm" class="btn btn-danger btn-sm" value="Clore"/>                                  <!-- Modal --> <div class="modal fade" id="myModalconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog"> 
                                            <div class="modal-content">
                                                <div class="modal-header"> 
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; 
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel"> 
                                                       Confrimation
                                                    </h4> </div> 
                                                <div class="modal-body"> 
                                                   Voulez vous vraiment clore ce projet </div> 
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">
                                                       Annuler
                                                    </button>
                                                    <input type="submit" class="btn btn-danger" value="Confirmer "/>
                                                       
                                                     </div> </div><!-- /.modal-content --> </div><!-- /.modal -->
                                </form>
                            </div>

                        </div>
                    {%endif%}             
                </div>


            {%endblock%}