{%extends "::base.html.twig"%}

{% block body %}
{% if app.session.flashBag.has('success') %}
        <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
{% endif %}
{% if app.session.flashBag.has('Echec') %}
        <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for msg in app.session.flashBag.get('Echec') %}
                {{ msg }}
            {% endfor %}
        </div>
{% endif %}

<div class="well">
{% if To_imput %}
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.projet, "Nom du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.projet) }}

    <div class="col-sm-5">
      {# Génération de l'input. #}
      {{ form_widget(form.projet, {'attr': {'class': 'form-control '}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.duree, "Durée", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.duree) }}
    <div class="col-sm-2">
      {{ form_widget(form.duree, {'attr': {'class': 'form-control '}}) }}
    </div>
  </div>
  
  {{ form_rest(form) }}

  <input type="submit" name="" value="Valider" class="btn btn-primary">
  

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
  {% else %}
  <p> <h3> Vous avez déja imputé sur tous les projets qu'on vous a assigné(e) pour aujourd'hui </h3> </p>
  {% endif %}
</div>

{% endblock %}