
 {%extends "::base.html.twig"%}

{% block title %}Bienvenue{% endblock %}
  
{% block body %}

    <h1>

        {% for  messages in app.session.flashBag.get('login') %}
            <div class="alert alert-success fade in">
            Bienvenue,
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       {{  app.user.prenom }} {{  app.user.nom }}
                {% endif %}
            
                    {{ messages }}
            </div>
        {% endfor %}
    </h1>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h4> Projets à Imputer aujourd'hui </h4>
    </div>
    <div class="panel-body">
        {% for projet in ToDo %}
        <i> <h4> {{projet.nom}} </h4> </i> <br>
        {% else %}
        Aucune imputation à faire
        {% endfor %}
     {%if  ToDo%}   
<a href="{{path('font_page_imputer') }}" <input type="submit" value="Valider" class="btn btn-primary"> Imputer </a>
    {%endif%}</div>
        
    </div>

{% endblock %}
