{%extends "::base.html.twig"%}
{% block title %}Projets{% endblock %}

{% block body %}
    
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="panel panel-default">
        <div class="panel-heading" >
        La liste des projets
            <!-- /.panel-heading -->
        </div>

        <div class="panel-body">
            {%if is_granted('ROLE_CHEF_PROJET')%}
               
                <table class="table table-responsive table-bordered  table-hover">
                    <thead>
                        <tr>
                            
                            <th >Nom</th>
                            <th >Type de projet</th>
                            <th >Date de début du projet</th>
                            <th >Date de fin estimée</th>
                            <th >Durée total travail Equipe(heures)</th>
                           
                        </tr>
                    </thead>
                    
                        <tbody>
                        {% for pro in projet%}                                           
                            <tr>
                                
                                <td><a href="{{ path('font_page_detail_proget', {'idPro': pro.id}) }}"> {{pro.nom}}</a></td>
                                <td>{{pro.domaineApplication}}</td>

                                <td>{{pro.dateDebut|date("d-m-Y")}}</td>
                                <td>{{pro.dateFin|date("d-m-Y")}}</td>
                                <td>{% if pro.duree %} {{pro.duree}} {% else %} 0 {% endif %} </td>
                                
                            </tr>
                        {% else %}
                        <tr> <td colspan="5">Aucun projet trouvé</td> </tr>
                        
                        
                    {% endfor %}
                    
                    </tbody>
                </table>
            {% endif %}
            {%if is_granted('ROLE_MEMBRE')%}
                
                <table class="table table-responsive table-bordered  table-hover">
                    <thead>
                        <tr>
                           
                            <th >Nom</th>
                            <th >Type de projet</th>
                            <th >Date de début estimée</th>
                            <th >Date de fin estimée</th>
                        </tr>
                    </thead>
                    
                        <tbody>
                        {% for pro in others_projets%}                                           
                            <tr>
                               
                                <td>{{pro.nom}}</td>
                                <td>{{pro.domaineApplication}}</td>

                                <td>{{pro.dateDebut|date("d-m-Y")}}</td>
                                <td>{{pro.dateFin|date("d-m-Y")}}</td>
                            </tr>
                        {% else %}
                        <tr> <td colspan="5">Aucun projet trouvé</td> </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>







{% endblock %}
