{%extends "::base.html.twig"%}
{% block title %}Imputations{% endblock %}

{% block body %}

 {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

	<div class="panel panel-default">
        <div class="panel-heading" >
            <h4> Vos imputations antérieures </h4>
            <!-- /.panel-heading -->
        </div>

        <div class="panel-body">
            
                <table class="table table-responsive table-bordered  table-hover">
                    <thead>
                        <tr>
                            <th >Projet</th>
                            <th >Durée Travail en heures</th>
                        </tr>
                    </thead>
                        <tbody>                                           
                    {% for imputation in imputation %}
                            <tr>
                                <td>{{imputation.nom}}</td>
                                <td>{{imputation.somHeure}}</td>
                               
                            </tr>
                    {% else %}
                         <tr> <td colspan="3">Aucun projet trouvé</td> </tr>
                    {% endfor %}
                        </tbody>
                </table>
            
        </div>
    </div>

{%endblock%}