{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-4 col-xs-offset-2 col-sm-4 col-xs-8 col-sm-offset-4 col-xs-offset-2">
                    <div class="login-panel panel ">
                        <div class="panel-heading entete">
                            <h3 class="panel-title ">Connexion</h3>
                        </div>
                        <div class="panel-body">



                            <form action="{{ path("fos_user_security_check") }}" method="post">

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <div class="form-group">
                                    <input type="text" placeholder="login_windows" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="pwd" type="password" id="password" name="_password" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label  for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                <span> <input class="btn btn-lg btn-block button-strong" type="submit" id="_submit" name="_submit" value="Se connecter" /></span>
                            </form>
                            <br>
                            <div>
                                {% if error %}
                                    <div class="text-center " style='color:red'>Nom d'utilisateur ou mot de passe incorrect</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%else%}
        {{render(controller('FontPageBundle:Dashboard:index'))}}

    {% endif %}
{% endblock fos_user_content %}